body {
    font-family: "Open Sans", Arial, sans-serif;
    display: grid;
    grid-template-areas: "nav" "content";
    column-gap: 1rem;
    margin: 0;
    line-height: 1.6;
    background-color: #f3f3f3;
}

#navbar {
    width: 100%;
    background-color: #f3f3f3;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
}

#navbar header {
    font-weight: bold;
    font-size: 1.6rem;
    position: fixed;
    display: block;
    background-color: white;
    margin-top: 0px;
    padding: 10px;
    z-index: 2;
    width: 100%;
    border: 1px solid grey;
}

#navbar ul {
    display: none;
    margin-left: 0;
    padding-left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #1e3774;
}

#navbar a {
    display: block;
    padding: 12px;
    text-decoration: none;
    color: white;
}

#navbar li {
    border: 1px solid black;
    border-collapse: collapse;
    align-self: stretch;
    justify-self: start;
    margin-top: -1px;
    list-style: none;
    position: relative;
}

#navbar li:hover {
    background-color: #284a9c;
    text-decoration: none;
    border-bottom: 3px solid #fbc318;
}

#navbar li:first-child {
    margin-top: 46px;
}

.main-section {
    background-color: white;
    margin: 10px 10px 0 0;
    border-radius: 3px;
    box-shadow: grey 0px 0px 5px 1px;
    padding: 10px 20px;
}

.main-section header {
    padding: 10px 0;
    font-weight: bold;
}

.hamburguer-menu-icon:before {
    content: "☰";
    cursor: pointer;
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    font-size: 2rem;
    padding: 5px 10px;
    background-color: white;
    user-select: none;
    z-index: 3;
    border: 1px solid grey;
    box-shadow: black 0 0 2px 0;
}

.main-section header {
    font-size: 20px;
}

#main-doc {
    margin-top: 63px;
    margin-left: 10px;
}

code {
    border: 1px dashed black;
    display: block;
    padding: 10px 5px;
    margin: 3px 0;
    font-family: "Courier New";
    background-color: lightgrey;
    white-space: pre-line;
}

.definition-table, .definition-table tr, .definition-table td, .definition-table th {
    border-collapse: collapse;
    border: 1px solid darkgrey;
}

.definition-table td, .definition-table th {
    padding: 5px;
}

.definition-table tr:nth-child(2n) {
    background-color: #e9e9e9;
}

@media only screen and (min-width: 600px) {
    body {
        grid-template-columns: 3fr 5fr;
        grid-template-areas: "nav content";
    }

    #navbar {
        position: unset;
        overflow-y: hidden;
    }

    .hamburguer-menu-icon:before {
        display: none !important;
    }

    #navbar ul {
        display: block;
    }
}

@media only screen and (min-width: 768px) {
    body {
        grid-template-columns: 3fr 5fr;
    }
}

@media only screen and (min-width: 1024px) {
    body {
        grid-template-columns: 2fr 5fr;
    }
}

@media only screen and (min-width: 1600px) {
    body {
        grid-template-columns: 1fr 5fr;
    }
}
